{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": ["airbnb/base"],
    "rules": {
        "no-console": "off",
        "no-plusplus":"off",
        "no-unused-vars": "error",
        "linebreak-style": ["error", "windows"],
        "no-param-reassign": "off",
        "no-unused-expressions": ["error", { "allowShortCircuit": true }]
    }, 
    "parserOptions": {
        "ecmaVersion": 2023
    }
}